body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    height: 7rem;
}


.arrow {
    height: 100%;
    display: flex;
    align-items: center;
}

img {
    height: clamp(40px, 8vw, 80px);
    width: auto;
}